body {
  padding: 0;
  margin: 0;
  background: green;
  /* Old browsers */
  background-color: #f2cc5a;
  }

/** Header styles **/
h1 {
  background-image: url("pizza.jpg");
  height: 600px;
  background-position: center center;
  font-family: Calibri;
  text-align: center;
  font-size: 40px;
  font-weight: 900;
  color: white; 
}

h3 
font-family: Comic sans ms;
font-size: 35px;
overflow: auto;
opacity: 0.9; 
text-align: center;
}

p {
font-family: Raleway;
font-size: 20px;
overflow: auto;
opacity: 0.9; 
}

h1 {
font-family: Times New Roman;
font-size: 15px;
text-align: 70%;
}	
	
